<h1>questionview</h1>

<div style="margin: 10px;">
  <input [(ngModel)]="newQuestion.question" placeholder="question">
  <input [(ngModel)]="newQuestion.answer" placeholder="answer">
  <input [(ngModel)]="newQuestion.url" placeholder="url">
  <select [(ngModel)]="newQuestion.theme">
    <option *ngFor="let theme of themes" [ngValue]="theme">{{theme.name}}</option>
  </select>
  <br>
  <select [(ngModel)]="newTag">
    <option *ngFor="let tag of tags" [ngValue]="tag">{{tag.name}}</option>
  </select>
  <input [(ngModel)]="newTagName" style="display: none;">
  <button (click)="addTagToNewQuestion()">Add Tag</button>
  <br>
  <span *ngFor="let tag of newQuestion.tags; let i = index;">
    {{tag.name}} <button (click)="removeTagFromNewQuestion(i);">x</button> |
  </span>
  <br>
  <button (click)="saveQuestion()">Add new Question</button>
</div>

<div class="container questions striped">
  <div class="row m-2 p-1">
    <div class="col-auto align-self-end"></div>
    <div class="col align-content-end">
      show all answers <input type="checkbox" autocomplete="off" [(ngModel)]="answersShown" (ngModelChange)="showAnswers()">
    </div>
  </div>
  <div class="row m-2 p-1" *ngFor="let question of questions; index as i">
    <div class="col">
      <div class="row">
        <div class="col"><input [(ngModel)]="question.question" [disabled]="editEnabled[i]? null : 'disabled'"></div>
        <div class="col"><input [(ngModel)]="question.url" [disabled]="editEnabled[i]? null : 'disabled'"></div>
        <div class="col-auto align-content-end align-self-end">
          <small>
            show answer <input type="checkbox" autocomplete="off" [(ngModel)]="answerShown[i]">
          </small>
          <div class="align-self-end">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <input type="checkbox" autocomplete="off" [(ngModel)]="editEnabled[i]">
            <i class="fa fa-floppy-o" (click)="updateQuestion(question)" *ngIf="editEnabled[i]"></i>
            <i class="fa fa-trash" (click)="deleteQuestion(question.id)" *ngIf="editEnabled[i]"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-auto theme">
          <small> | {{question.theme.name}} | </small>
        </div>
        <div class="col tag">
          <small *ngFor="let tag of question.tags"> {{tag.name}} </small>
        </div>
      </div>
      <div class="row">
        <div class="col answer" *ngIf="answerShown[i]; else elseBlock">
          <input [(ngModel)]="question.answer" [disabled]="editEnabled[i]? null : 'disabled'"></div>
        <ng-template #elseBlock>*****</ng-template>
      </div>
    </div>
  </div>
</div>
